h1 {
    font-size: 20px;
    text-align: center;
    color:#F7DC6F;
}

body {
    font-family: Roboto;
    text-align: center;
    font-size: 15px;
    color: #1A5276;
    background-image: url("https://media0.giphy.com/media/97mfa0sSINjGg/source.gif");
    background-size: cover;
    
}

a {
    font-family: Roboto;
    color: blue;
    font-size: 15px
}

#topmenu {
    font-family: Roboto;
    text-align: center;
    font-size; 20px;
    color: purple;
}

#topmenu:hover {
    background-color: blue;
}

#successmsg{
    font-weight: bold;
    color: blue;
}

#errormsg {
    font-weight: bold;
    color: red;
}