<html>
    <head>
        <link rel="stylesheet" href="/i/homies.css">
    </head>
    <body bgcolor: #E89797>
    <nav role="navigation">
        <div id="menuToggle">
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
            <a href="/"><li>Home</li></a>
            <a href="/profile-list"><li>About</li></a>
            {% if login_url %}
            <a href="{{login_url}}"><li>Login</li></a>
            {% else %}
            <a href="{{logout_url}}"><li>Logout</li></a>
            <a href="/profile-edit" target="_blank"><li>Show me more</li></a>
            <a href="/p/{{name}}">View Profile</a>
            {% endif %}
            </ul>
        </nav>
        </div>
        {% if successmsg %}
        <div id="successmsg">{{successmsg}}</div>
        {% endif %}
        {% if errormsg %}
        <div id="errormsg">{{errormsg}}</div>
        {% endif %}
        {% block content %}{% endblock %}
    </body>
<html>