{% extends "_base.html" %}
{% block content %}
<form method="post" action="/profile-save">
<div class="container">
  <form action="action_page.php">
<br>
<br>
<br>
<br>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="Your name..">
<br>
<br><br>
<label for="subject">Number</label>
    <textarea id="subject" name="phonenumber" placeholder="Enter Number" ></textarea>
<br><br>
<br> <br>
    <label for="subject">Email</label>
    <textarea id="subject" name="email" placeholder="Enter email" ></textarea>
<br><br>


    <input type="submit" value="Submit">


</div>
</form>

{% endblock %}